footer {
    position: sticky;
    bottom: 0;
    background-color: #f5f5f5;
    color: #333;
    width: 100%;
    padding: .5em;
    text-align: center;
    p {
        margin: 0;
    }
    &>.container {
        padding-right: 15px;
        padding-left: 15px
    }
}

.fa-twitter,
.fa-linkedin,
.footer a {
    color: #D1343E;
    &:hover {
        color: #333;
        text-decoration: none;
        ;
    }
}