<br>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>&copy; <a href="//fvcproductions.com" target="_blank">FVCproductions</a> 2017</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="text-center">
          <a href="//twitter.com/fvcproductions" target="_blank" title="Twiiter"><i class="fa fa-twitter"></i></a>
          <a href="//linkedin.com/in/fvcproductions" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
          <a href="//github.com/in/fvcproductions" target="_blank" title="GitHub"><i class="fa fa-github-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<br>
