<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <img src="https://fvcproductions.github.io/pacific-shores-shuttle/assets/img/logo.svg" height="100" alt="Pacific Shores Shuttle"
        class="about-logo">
      <h2>Pacific Shores Shuttle</h2>
      <br>
      <h3 class="text-muted">I'm Frances and I built this app so that if you work at <a href="https://www.wikiwand.com/en/Pacific_Shores_Center"
          target="_blank" title="Pacific Shores Center">Pacific Shores</a> like I do, you can finally figure out when the next
        shuttle is without pondering over a table.</h3>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">Relatable</h4>
      <p class="text-muted">I work at Pacific Shores myself and take public transporation from time to time.</p>
    </div>
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">Reliable</h4>
      <p class="text-muted">
        All info was taken directly from <a href="http://www.caltrain.com/schedules/Shuttles/Pacific_Shores_Shuttle.html"
          target="_blank" title="Caltrain Website">the Caltrain website</a> so you know it's on point.
      </p>
    </div>
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">Responsive</h4>
      <p class="text-muted">It was designed to be mobile friendly, easy on the eyes, and simple to use.</p>
    </div>

  </div>
  <br>
  <div class="row text-center">
    <div class="col-12">
      <p class="text-muted">If you'd like to help develop this website, feel free to <a href="https://github.com/fvcproductions/pacific-shores-shuttle"
          target="_blank" title="Pacific Shores Shuttle on GitHub">fork the repo on GitHub</a>. <br><a href="https://github.com/fvcproductions/pacific-shores-shuttle"
          target="_blank" title="Pacific Shores Shuttle on GitHub"><i class="fa fa-github"></i></a>All contributions are warmly
        welcomed.
      </p>
    </div>
  </div>
  <br>
</div>
