<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 arriving">
    <a [routerLink]="['/arriving']">
      <div class="jumbotron">
        <h1><i class="fa fa-sun-o"></i>Arrivals</h1>
        <hr>
        <h4>Redwood City Caltrain <i class="fa fa-arrow-circle-o-right"></i> Pacific Shores</h4>
        <hr>
        <h2>You're trying to get to Pacific Shores.</h2>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 departing">
    <a [routerLink]="['/departing']">
      <div class="jumbotron">
        <h1><i class="fa fa-moon-o"></i>Departures</h1>
        <hr>
        <h4>Pacific Shores <i class="fa fa-arrow-circle-o-right"></i> Redwood City Caltrain</h4>
        <hr>
        <h2>You're trying to leave Pacific Shores.</h2>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-12 about">
    <a [routerLink]="['/about']">
      <div class="jumbotron">
        <h1><i class="fa fa-info-circle"></i>About</h1>
        <hr>
        <h2>Who built this?</h2>
      </div>
    </a>
  </div>
</div>
