/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/* Define Colors */

$base:#D1343E;
$arriving: #FF913F;
$departing: #FF663F;
$hover-text: #333;

/* Define Base */

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  padding-top: 5rem;
}

.loading {
  text-align: center;
}

.table-responsive {
  display: table;
}

.jumbotron {
  padding: 2rem;
}

.arriving-info .jumbotron,
.departing-info .jumbotron {
  color: white;
}

.arriving a,
.departing a,
.about a {
  color: white;
}

.arriving a:hover,
.departing a:hover,
.about a:hover {
  text-decoration: none;
  color: $hover-text !important;
}

.arriving a:focus,
.departing a:focus,
.about a:focus {
  text-decoration: none;
  color: $hover-text !important;
}

.arriving .jumbotron,
.arriving-info .jumbotron {
  background-color: $arriving;
}

.departing .jumbotron,
.departing-info .jumbotron {
  background-color: $departing;
}

.arriving-info .jumbotron a,
.departing-info .jumbotron a {
  color: white;
  font-weight: bold;
  &:hover {
    color: $hover-text;
    text-decoration: none;
  }
}

.about .jumbotron {
  background-color: $base;
}

.fa {
  margin-right: .5em;
}

.fa-arrow-circle-o-right {
  margin-right: 0 !important;
}

span.fa-stack.fa-4x {
  margin-bottom: .25em;
}
