@import url('https://rsms.me/interface/interface.css');

// Define Colors
$base: #d1323d;
$arriving: #ff913f;
$departing: #ff663f;
$hover-text: #333;
// Define Base
body {
  padding-top: 5rem;
  font-family: 'Interface', sans-serif;
}

.loading {
  text-align: center;
}

.table-responsive {
  display: table;
}

.jumbotron {
  padding: 1.5rem;
}

.arriving-info .jumbotron,
.departing-info .jumbotron {
  color: white;
}

.arriving a,
.departing a,
.about a {
  color: white;
}

.arriving a:hover,
.departing a:hover,
.about a:hover {
  text-decoration: none;
  color: $hover-text !important;
}

.arriving a:focus,
.departing a:focus,
.about a:focus {
  text-decoration: none;
  color: $hover-text !important;
}

.arriving .jumbotron,
.arriving-info .jumbotron {
  background-color: $arriving;
}

.departing .jumbotron,
.departing-info .jumbotron {
  background-color: $departing;
}

.arriving-info .jumbotron a,
.departing-info .jumbotron a {
  color: white;
  font-weight: bold;
  &:hover {
    color: $hover-text;
    text-decoration: none;
  }
}

.about .jumbotron {
  background-color: $base;
}

.fa {
  margin-right: 0.5em;
}

.fa-arrow-circle-o-right {
  margin-right: 0 !important;
}

span.fa-stack.fa-4x {
  margin-bottom: 0.25em;
}

$mobile: 768px;
@media (max-width: $mobile) {
  .table-responsive {
    display: block;
  }
}

select.btn.dropdown-toggle {
  max-width: 100%;
}
